.grid{
    display: grid;
    gap: 20px;
    max-width: 800px;
    justify-content: space-between;
    padding: 20px;
    margin: auto;   
    grid-template-columns: 1fr 1fr 1fr;
    
}
.grid__text{
    padding: 20px;
    background-color: gold;
    opacity: 0.8;

}
@media (max-width:800px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px){
    .grid{
        grid-template-columns: 1fr ;
    }
}